## MCE to Determine Highest-Risk Intersection most in Need of Leading Pedestrian Interval Signals
![NYC Streetlight Intersection](images/street_NYC.png)
<details>
  <summary>Introduction!</summary>
    
###### With the fast-paced hustle-and-bustle movement of pedestrians, vehicles and bicycles that all need to get from point A to point B in a ‘New York Minute’, city planners and lawmakers alike know the dangers traffic accidents present in the city that never sleeps. In 2014, New York City passed a new policy known as Vision Zero, which seeks to eliminate as many traffic accidents and pedestrian casualties as possible. In 2014 alone, 3,000 New Yorkers were seriously injured, and more than 200 were killed in traffic crashes. The leading cause of injury-related deaths for children under 14 and the second leading cause for senior citizens is being struck by moving vehicles. New York City has taken many proactive measures in limiting traffic collisions and pedestrian deaths by implementing Leading Pedestrian Interval Signals(LPIS) throughout the five boroughs. These signals allow pedestrians a head start to walk across the crosswalk before the green is given to vehicles, giving drivers more visibility of possible pedestrians in the process. There are currently over 4,000 of LPISs installed and working, but the goal of this research is to use a Multi-Criteria Evaluation(MCE) of New York City’s streets and intersections to determine the intersections most in need of LPIS installation.



NOTE: This notebook and subsequent notebooks will serve as a guide on how to clean and refine large datasets, conduct spatial analysis in PostGIS as well as python, standardize variables of interest, and present final data findings in interactive and aesthetic maps.

contact:Steven.Nacinovich27@myhunter.cuny.edu

## Part 1: Cleaning our Collisions and pedestrian data-sets

 Data retrieved from:
 https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95 
 &
 https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Person/f55k-p6yu
    
Collision crash table contains information from all police reported motor vehicle collisions since 2014, when Vision Zero was first created. The police report is required to be filled out when someone is injured, killed, or there is more than $1,000 dollars in reported damages. There are 1.68 million records in total.

The person crash table contains information for each person involved in motor vehicle collisions since 2016. There are 3.92 million records in total.

In [2]:
%matplotlib inline

# Import libraries used below
import pandas as pd
import geopandas as gpd
import numpy as np
import json
from sqlalchemy import create_engine
from shapely import wkt

Reading in data using pandas library

In [ ]:
collision = pd.read_csv("F:\GeoCompII\project\Data\City_OpenData\Motor_Vehicle_Collisions_-_Crashes.csv")
pedestrian = pd.read_csv("F:\GeoCompII\project\Data\City_OpenData\Motor_Vehicle_Collisions_-_Person.csv")

In [4]:
# view the collision data
collision.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/03/2020,0:00,BROOKLYN,11208,40.68992,-73.87261,POINT (-73.87261 40.68992),HEMLOCK STREET,JAMAICA AVENUE,NaN,...,NaN,NaN,NaN,NaN,4297861,NaN,NaN,NaN,NaN,NaN
1,03/13/2019,10:15,MANHATTAN,10004,NaN,NaN,NaN,NaN,NaN,10 South street,...,NaN,NaN,NaN,NaN,4096508,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2,04/02/2015,1:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3196332,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3,04/02/2015,22:30,NaN,NaN,NaN,NaN,NaN,BRUCKNER BOULEVARD,ZEREGA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197387,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN
4,03/03/2020,11:20,MANHATTAN,10036,NaN,NaN,NaN,W 46th STREET,12TH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4297078,Box Truck,Box Truck,NaN,NaN,NaN

In [5]:
# view pedestrian data
pedestrian.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10252788,4230640,10/25/2019,17:42,0278267c-0b21-470f-8a54-da71b7361448,Occupant,Unspecified,19142923.0,0.0,Not Ejected,...,Does Not Apply,"Any person in the rear of a station wagon, pic...",Unknown,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
1,10253512,4230733,10/10/2019,19:45,81161123-516c-438d-8f29-a107d2783d85,Occupant,Unspecified,19143291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,NaN
2,10250662,4230235,10/26/2019,10:40,b5da9aa6-3230-4203-bbde-3b6f9248ac31,Occupant,Injured,19141868.0,11.0,Not Ejected,...,Entire Body,"Middle rear seat, or passenger lying across a ...",Unknown,NaN,NaN,Whiplash,Passenger,NaN,NaN,F
3,10252894,4231115,10/26/2019,18:45,4ed210b6-678c-4fe3-ae8c-3ecd30eae7aa,Pedestrian,Injured,NaN,30.0,NaN,...,Knee-Lower Leg Foot,Driver,None,Pedestrian/Bicyclist/Other Pedestrian at Inter...,Crossing Against Signal,Fracture - Distorted - Dislocation,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Texting,M
4,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN

When Viewing the fields and data types in the objects Collision and Pedestrian, they each share one common field(COLLISION_ID). These files can be joined or merged to create one file that has all pedestrian injuries and vehicle collisions.
In this example, merge was used

In [6]:
df = collision.merge(pedestrian, how = 'left', left_on = 'COLLISION_ID', right_on = 'COLLISION_ID')
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,03/03/2020,0:00,BROOKLYN,11208,40.68992,-73.87261,POINT (-73.87261 40.68992),HEMLOCK STREET,JAMAICA AVENUE,NaN,...,Knee-Lower Leg Foot,NaN,NaN,Pedestrian/Bicyclist/Other Pedestrian at Inter...,Crossing With Signal,Complaint of Pain or Nausea,Pedestrian,Unspecified,Unspecified,F
1,03/13/2019,10:15,MANHATTAN,10004,NaN,NaN,NaN,NaN,NaN,10 South street,...,Does Not Apply,Driver,Lap Belt & Harness,NaN,NaN,Does Not Apply,Driver,NaN,NaN,F
2,03/13/2019,10:15,MANHATTAN,10004,NaN,NaN,NaN,NaN,NaN,10 South street,...,Does Not Apply,"Middle front seat, or passenger lying across a...",Lap Belt & Harness,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
3,03/13/2019,10:15,MANHATTAN,10004,NaN,NaN,NaN,NaN,NaN,10 South street,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,U
4,04/02/2015,1:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print("The number of records is currently: ",len(df))

The number of records is currently:  4492438

With nearly 4.5 million records, this data at first glance seems large and very expansive, however a good chunk of records do not have spatial data (X,Y) POINT component. These records cannot be used in the analysis since they will not factor into spatial research.

In [8]:
# Removing Values where there is no location data
df1 = df.dropna(subset = ['LOCATION']) # we are subsetting so only records where no location are removed
print("The number of records is currently: ",len(df1))

The number of records is currently:  4012713

In [9]:
# removing seriously erroneous coordinates
df1 = df1[(df1['LATITUDE'] > 38) & (df1['LONGITUDE'] <-48) &
          (df1['LONGITUDE'] > -75)]
        
print("The number of records is currently: ",len(df1))

The number of records is currently:  4007788

Now there are roughly 4.007 million records with a spatial component. The SRID for this data is EPSG:4326.

In [10]:
pd.options.display.max_columns = None # this is so I can view all 49 columns of data.
df1.head()
# df['CRASH_DATE']= pd.to_datetime(df['CRASH_DATE'])

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,UNIQUE_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,03/03/2020,0:00,BROOKLYN,11208,40.68992,-73.87261,POINT (-73.87261 40.68992),HEMLOCK STREET,JAMAICA AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4297861,NaN,NaN,NaN,NaN,NaN,10583927.0,03/03/2020,0:00,b266d854-0b05-44b5-ad74-940ceaa29ba4,Pedestrian,Injured,NaN,21.0,NaN,Conscious,Knee-Lower Leg Foot,NaN,NaN,Pedestrian/Bicyclist/Other Pedestrian at Inter...,Crossing With Signal,Complaint of Pain or Nausea,Pedestrian,Unspecified,Unspecified,F
12,03/03/2020,13:08,BROOKLYN,11219,40.63693,-73.98657,POINT (-73.98657 40.63693),NaN,NaN,4312 14 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4297227,Sedan,Sedan,NaN,NaN,NaN,10580837.0,03/03/2020,13:08,d7faf68e-af75-4b3c-8b74-e45100ab3fc7,Occupant,Unspecified,19310666.0,56.0,Not Ejected,Does Not Apply,Does Not Apply,Driver,Lap Belt & Harness,NaN,NaN,Does Not Apply,Driver,NaN,NaN,M
13,03/03/2020,13:08,BROOKLYN,11219,40.63693,-73.98657,POINT (-73.98657 40.63693),NaN,NaN,4312 14 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4297227,Sedan,Sedan,NaN,NaN,NaN,10580840.0,03/03/2020,13:08,cb65e835-8001-4cdf-8704-6fca57ece391,Occupant,Unspecified,19310666.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
14,03/03/2020,13:08,BROOKLYN,11219,40.63693,-73.98657,POINT (-73.98657 40.63693),NaN,NaN,4312 14 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4297227,Sedan,Sedan,NaN,NaN,NaN,10580839.0,03/03/2020,13:08,27d6ea6c-4578-4f03-8eea-cd74c70364b2,Occupant,Unspecified,19310667.0,33.0,Not Ejected,Does Not Apply,Does Not Apply,Driver,Lap Belt & Harness,NaN,NaN,Does Not Apply,Driver,NaN,NaN,M
15,03/03/2020,13:08,BROOKLYN,11219,40.63693,-73.98657,POINT (-73.98657 40.63693),NaN,NaN,4312 14 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4297227,Sedan,Sedan,NaN,NaN,NaN,10580838.0,03/03/2020,13:08,1c261516-0f1c-428d-bbaf-b665d7404722,Occupant,Unspecified,19310667.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M

In [12]:
# let's view the data by the highest number of people killed in one incident
sort_person_kill = df1.sort_values(by = 'NUMBER OF PERSONS KILLED', ascending = False)
sort_person_kill.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,UNIQUE_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
2920724,10/31/2017,15:08,MANHATTAN,10014,40.729046,-74.01073,POINT (-74.01073 40.729046),WEST STREET,WEST HOUSTON STREET,NaN,12.0,8.0,7,6,1,2,4,0,Other Vehicular,Unspecified,Unspecified,Unspecified,Unspecified,3782508,FB,BU,BICYCLE,BICYCLE,BICYCLE,10542707.0,10/31/2017,15:08,1d6d60e4-dec8-48e6-b0d4-f7b8eba56395,Occupant,Injured,19290191.0,59.0,Not Ejected,Conscious,Unknown,Driver,Unknown,NaN,NaN,Unknown,Driver,NaN,NaN,M
2920726,10/31/2017,15:08,MANHATTAN,10014,40.729046,-74.01073,POINT (-74.01073 40.729046),WEST STREET,WEST HOUSTON STREET,NaN,12.0,8.0,7,6,1,2,4,0,Other Vehicular,Unspecified,Unspecified,Unspecified,Unspecified,3782508,FB,BU,BICYCLE,BICYCLE,BICYCLE,10542708.0,10/31/2017,15:08,92424cb6-a7d8-4fda-9a49-0a026d8eba48,Occupant,Unspecified,19290190.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,U
2920735,10/31/2017,15:08,MANHATTAN,10014,40.729046,-74.01073,POINT (-74.01073 40.729046),WEST STREET,WEST HOUSTON STREET,NaN,12.0,8.0,7,6,1,2,4,0,Other Vehicular,Unspecified,Unspecified,Unspecified,Unspecified,3782508,FB,BU,BICYCLE,BICYCLE,BICYCLE,10542704.0,10/31/2017,15:08,064f7811-b64b-4704-8557-f222a0dee210,Occupant,Injured,19290191.0,16.0,Not Ejected,Conscious,Unknown,"Any person in the rear of a station wagon, pic...",Unknown,NaN,NaN,Unknown,Passenger,NaN,NaN,M
2920736,10/31/2017,15:08,MANHATTAN,10014,40.729046,-74.01073,POINT (-74.01073 40.729046),WEST STREET,WEST HOUSTON STREET,NaN,12.0,8.0,7,6,1,2,4,0,Other Vehicular,Unspecified,Unspecified,Unspecified,Unspecified,3782508,FB,BU,BICYCLE,BICYCLE,BICYCLE,10542685.0,10/31/2017,15:08,b47c512d-90c5-43bc-a7b0-0c8909b14a26,Bicyclist,Killed,19290194.0,32.0,Ejected,Apparent Death,Unknown,Driver,Unknown,NaN,NaN,Unknown,Driver,NaN,NaN,M
2920737,10/31/2017,15:08,MANHATTAN,10014,40.729046,-74.01073,POINT (-74.01073 40.729046),WEST STREET,WEST HOUSTON STREET,NaN,12.0,8.0,7,6,1,2,4,0,Other Vehicular,Unspecified,Unspecified,Unspecified,Unspecified,3782508,FB,BU,BICYCLE,BICYCLE,BICYCLE,10542709.0,10/31/2017,15:08,f531a46a-56fb-4cbf-845f-070b23c165dc,Occupant,Unspecified,19290190.0,29.0,Not Ejected,Does Not Apply,Does Not Apply,Driver,Air Bag Deployed,NaN,NaN,Does Not Apply,Driver,NaN,NaN,M
2920725,10/31/2017,15:08,MANHATTAN,10014,40.729046,-74.01073,POINT (-74.01073 40.729046),WEST STREET,WEST HOUSTON STREET,NaN,12.0,8.0,7,6,1,2,4,0,Other Vehicular,Unspecified,Unspecified,Unspecified,Unspecified,3782508,FB,BU,BICYCLE,BICYCLE,BICYCLE,10542703.0,10/31/2017,15:08,31b0b62d-0b32-496b-bce4-aa36b57ea111,Occupant,Injured,19290191.0,14.0,Not Ejected,Unknown,Hip-Upper Leg,"Any person in the rear of a station wagon, pic...",Unknown,NaN,NaN,Internal,Passenger,NaN,NaN,F
2920723,10/31/2017,15:08,MANHATTAN,10014,40.729046,-74.01073,POINT (-74.01073 40.729046),WEST STREET,WEST HOUSTON STREET,NaN,12.0,8.0,7,6,1,2,4,0,Other Vehicular,Unspecified,Unspecified,Unspecified,Unspecified,3782508,FB,BU,BICYCLE,BICYCLE,BICYCLE,10542697.0,10/31/2017,15:08,0cd44019-5f04-46a4-8525-f80208d3b373,Pedestrian,Injured,NaN,26.0,NaN,Unknown,Hip-Upper Leg,NaN,NaN,Does Not Apply,Not in Roadway,None Visible,Pedestrian,Unspecified,Unspecified,F
2920722,10/31/2017,15:08,MANHATTAN,10014,40.729046,-74.01073,POINT (-74.01073 40.729046),WEST STREET,WEST HOUSTON STREET,NaN,12.0,8.0,7,6,1,2,4,0,Other Vehicular,Unspecified,Unspecified,Unspecified,Unspecified,3782508,FB,BU,BICYCLE,BICYCLE,BICYCLE,10542691.0,10/31/2017,15:08,e6225c3e-0bf8-45e4-82af-995faad219ad,Pedestrian,Killed,NaN,48.0,NaN,Apparent Death,Unknown,NaN,NaN,Does Not Apply,Not in Roadway,Unknown,Pedestrian,Unspecified,Unspecified,M
2920721,10/31/2017,15:08,MANHATTAN,10014,40.729046,-74.01073,POINT (-74.01073 40.729046),WEST STREET,WEST HOUSTON STREET,NaN,12.0,8.0,7,6,1,2,4,0,Other Vehicular,Unspecified,Unspecified,Unspecified,Unspecified,3782508,FB,BU,BICYCLE,BICYCLE,BICYCLE,10542690.0,10/31/2017,15:08,87b351b3-5b85-41ad-9e64-897470b57a8c,Pedestrian,Killed,NaN,31.0,NaN,Apparent Death,Unknown,NaN,NaN,Does Not Apply,Not in Roadway,Unknown,Pedestrian,Unspecified,Unspecified,F
2920720,10/31/2017,15:08,MANHATTAN,10014,40.729046,-74.01073,POINT (-74.01073 40.729046),WEST STREET,WEST HOUSTON STREET,NaN,12.0,8.0,7,6,1,2,4,0,Other Vehicular,Unspecified,Unspecified,Unspecified,Unspecified,3782508,FB,BU,BICYCLE,BICYCLE,BICYCLE,10542694.0,10/31/2017,15:08,7946c8eb-f0ff-4732-928d-ba7c2d7496c9,Pedestrian,Killed,NaN,47.0,NaN,Apparent Death,Unknown,NaN,NaN,Does Not Apply,Not in Roadway,Unknown,Pedestrian,Unspecified,Unspecified,M

Using group by(), we can aggregate the collision IDs and treat them each as one event,
adding a count field to dataset to include the total number of people per collision.
TRANSFORM function used to retain the number of rows in our original data-set

In [13]:
df1['count_col'] = df1.groupby(['COLLISION_ID'])[['COLLISION_ID']].transform('count')
df1 = df1.drop_duplicates('COLLISION_ID') # dropping repeat values in COLLISION_ID
df1.head(6)
# [[]] is needed to refer to the data frame column, if it was ['COLLISION_ID'], then it would return a pandas series.

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,UNIQUE_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX,count_col
0,03/03/2020,0:00,BROOKLYN,11208,40.689920,-73.872610,POINT (-73.87261 40.68992),HEMLOCK STREET,JAMAICA AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4297861,NaN,NaN,NaN,NaN,NaN,10583927.0,03/03/2020,0:00,b266d854-0b05-44b5-ad74-940ceaa29ba4,Pedestrian,Injured,NaN,21.0,NaN,Conscious,Knee-Lower Leg Foot,NaN,NaN,Pedestrian/Bicyclist/Other Pedestrian at Inter...,Crossing With Signal,Complaint of Pain or Nausea,Pedestrian,Unspecified,Unspecified,F,1
12,03/03/2020,13:08,BROOKLYN,11219,40.636930,-73.986570,POINT (-73.98657 40.63693),NaN,NaN,4312 14 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4297227,Sedan,Sedan,NaN,NaN,NaN,10580837.0,03/03/2020,13:08,d7faf68e-af75-4b3c-8b74-e45100ab3fc7,Occupant,Unspecified,19310666.0,56.0,Not Ejected,Does Not Apply,Does Not Apply,Driver,Lap Belt & Harness,NaN,NaN,Does Not Apply,Driver,NaN,NaN,M,4
29,04/02/2015,8:30,NaN,NaN,40.772880,-73.831198,POINT (-73.8311985 40.7728803),NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Outside Car Distraction,Unspecified,NaN,NaN,NaN,3196670,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
39,03/03/2020,17:33,QUEENS,11432,40.708770,-73.790504,POINT (-73.790504 40.70877),NaN,NaN,170-12 90 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4297447,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,10581123.0,03/03/2020,17:33,4471006f-6c83-4f6a-96c3-bc7659090e33,Occupant,Unspecified,19310817.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M,1
40,10/17/2013,18:30,NaN,NaN,40.640037,-73.877941,POINT (-73.8779406 40.6400371),NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,2960273,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
57,09/02/2017,13:25,BROOKLYN,11203,40.650517,-73.923590,POINT (-73.92359 40.650517),KINGS HIGHWAY,SNYDER AVENUE,NaN,1.0,0.0,0,0,0,0,1,0,Unspecified,NaN,NaN,NaN,NaN,3745217,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,7248232.0,09/02/2017,13:25,385e7c4d-261d-4070-8f4f-9c4448996e39,Occupant,Injured,17660318.0,41.0,Not Ejected,Conscious,Back,Driver,Lap Belt & Harness,NaN,NaN,Complaint of Pain,Driver,NaN,NaN,M,3

The data has been cleaned well, will now be saved as a database file so additional filtering and spatial operations can be done in SQL through PostGIS environment.

In [14]:
# converting zip code to numeric to avoid errors once in PostGIS
df1["ZIP CODE"] = pd.to_numeric(df1["ZIP CODE"], errors = 'coerce')

In [15]:
# after trying to import into PostGIS, these columns were spit back as having mixed types.

# These columns are not necessary for calculations, can be removed.
cols = [3,32,37,38,39,40,41,43,44,45,46,47,48] #specifying columns based on list comprehension
df2 = df1.drop(df1.columns[cols], axis = 1) #dropping the columns

In [16]:
# make our dataframe into a GeoDataframe
df2['LOCATION'] = df2['LOCATION'].apply(wkt.loads) # refer to our LOCATION field as our geometry

gdf = gpd.GeoDataFrame(df2, geometry='LOCATION')
print("The number of records is currently: ",len(gdf))
gdf.head(2)

The number of records is currently:  1458849

,CRASH DATE,CRASH TIME,BOROUGH,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,UNIQUE_ID,CRASH_DATE,CRASH_TIME,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,PED_LOCATION,count_col
0,03/03/2020,0:00,BROOKLYN,40.68992,-73.87261,POINT (-73.87260999999999 40.68992),HEMLOCK STREET,JAMAICA AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4297861,NaN,NaN,NaN,NaN,NaN,10583927.0,03/03/2020,0:00,Pedestrian,Injured,NaN,21.0,Pedestrian/Bicyclist/Other Pedestrian at Inter...,1
12,03/03/2020,13:08,BROOKLYN,40.63693,-73.98657,POINT (-73.98657 40.63693),NaN,NaN,4312 14 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4297227,Sedan,Sedan,NaN,NaN,NaN,10580837.0,03/03/2020,13:08,Occupant,Unspecified,19310666.0,56.0,NaN,4


PostGIS can be a bit 'finnicky' when importing dataframes. To improve our data,
we will lowercase all columns and remove whitespace, replacing them with '_'

In [17]:
# lowercasing with for loop
gdf.columns = [x.lower() for x in gdf.columns]
# replacing spaces with _
gdf.columns = gdf.columns.str.replace(' ', '_')
gdf.head(5)

,crash_date,crash_time,borough,latitude,longitude,location,on_street_name,cross_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,unique_id,crash_date,crash_time,person_type,person_injury,vehicle_id,person_age,ped_location,count_col
0,03/03/2020,0:00,BROOKLYN,40.689920,-73.872610,POINT (-73.87260999999999 40.68992),HEMLOCK STREET,JAMAICA AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4297861,NaN,NaN,NaN,NaN,NaN,10583927.0,03/03/2020,0:00,Pedestrian,Injured,NaN,21.0,Pedestrian/Bicyclist/Other Pedestrian at Inter...,1
12,03/03/2020,13:08,BROOKLYN,40.636930,-73.986570,POINT (-73.98657 40.63693),NaN,NaN,4312 14 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4297227,Sedan,Sedan,NaN,NaN,NaN,10580837.0,03/03/2020,13:08,Occupant,Unspecified,19310666.0,56.0,NaN,4
29,04/02/2015,8:30,NaN,40.772880,-73.831198,POINT (-73.8311985 40.7728803),NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Outside Car Distraction,Unspecified,NaN,NaN,NaN,3196670,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
39,03/03/2020,17:33,QUEENS,40.708770,-73.790504,POINT (-73.790504 40.70877),NaN,NaN,170-12 90 AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4297447,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,10581123.0,03/03/2020,17:33,Occupant,Unspecified,19310817.0,53.0,NaN,1
40,10/17/2013,18:30,NaN,40.640037,-73.877941,POINT (-73.8779406 40.6400371),NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,2960273,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [48]:
#save as CSV file
gdf.to_csv(r'filepath\table.csv', index = False)

In [49]:
# importing this data directly into postGIS
hostNameStr = 'localhost'; portNumber  = '5432'
userNameStr = 'postgres' ; passwordStr = 'pw'
databaseStr = 'postgres' ; tableName = 'collision_data'

csvFileName = r'filepath.csv'
# refine path when sharing
#connection format
'dialect+driver://username:password@host:port/database'
dbEngine = create_engine('postgresql://' \
    + userNameStr + ':' + passwordStr \
        + '@' + hostNameStr + ':' + portNumber \
            + '/' + databaseStr)
gdf = pd.read_csv(csvFileName)
gdf.to_sql(tableName, dbEngine)

C:\Users\steve\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
# check the length of the data
print("The number of records is currently: ",len(gdf))

The number of records is currently:  1458849

There are currently 1,458,849 unique collision records in the data table. From here, we need to aggregate this data based off each individual NYC intersection with collision data.
View part 2 of the project: Spatial Operations in PostGIS